version: "3"
services:
  kafka:
    image: spotify/kafkaproxy
    ports:
      - 9092:9092
      - 2181:2181
    environment:
      ADVERTISED_HOST: '127.0.0.1'
      ADVERTISED_PORT: 9092
  tests:
    build:
      context: .
    environment:
      KAFKA_HOST: 'gateway.docker.internal'
    volumes:
      - ./:/opt/asynckafka
    depends_on:
      - kafka
