[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

cython = "*"
pytest = "*"
pytest-asyncio = "*"
kafka-python = "*"
uvloop = "*"
confluent-kafka = "*"


[dev-packages]

